---
const funuture = ["bed_1.jpg", "bed_2.jpg", "bed_3.jpg"];

const choices = ["Цвет стен", "Пол", "Кровать", "Кресло"];
---

<section id="funuture" class="w-screen h-screen relative">
  <div class="flex flex-col justify-start items-center text-center h-full">
    <span
      id="back-button"
      class="material-symbols-outlined absolute left-10 top-3 rounded-full bg-green-400 p-3"
    >
      arrow_back</span
    >
    <h1 class="text-5xl p-0 m-0 mt-3">Выберите оформление</h1>
    <div class="flex flex-row justify-center items-start mt-20">
      <div class="flex flex-col justify-center items-center mr-10">
        {
          choices.map((choice) => (
            <p class="choice w-40 m-2 p-2 bg-green-400 rounded-full text-white">
              {choice}
            </p>
          ))
        }
      </div>
      <img
        id="room"
        src="styles/minimalism/выбор_цветстен1.jpg"
        alt=""
        class="w-1/2"
      />
      <div class="flex flex-col justify-start items-start">
        {
          funuture.map((image) => (
            <img class="btn w-40 mb-5 ml-5" src={image} alt="" />
          ))
        }
      </div>
    </div>
  </div>

  <script>
    import { readActiveStyle } from "../utils/activeStyle";
    import { goto } from "../utils/currentPage";
    import onVisible from "../utils/visibility";

    const choicePrefix = ["цветстен", "пол", "кровать", "кресло"];
    const buttons: HTMLImageElement[] = document.querySelectorAll(".btn");
    const mainImage: HTMLImageElement = document.querySelector("#room")!;
    const section = document.querySelector("#funuture");

    let currentActiveTab = 0;

    buttons.forEach((btn, ind) => {
      btn.addEventListener("click", () => select(ind));
    });

    const choices = document.querySelectorAll(".choice");
    choices.forEach((choice, ind) => {
      choice.addEventListener("click", () => switchActive(ind));
    });

    function switchActive(ind: number) {
      currentActiveTab = ind;
      const prefix = choicePrefix[ind];
      const slug = readActiveStyle();
      buttons.forEach((btn, ind) => {
        btn.src = `styles/${slug}/кнопка_${prefix}${ind + 1}.jpg`;
      });
    }

    function select(ind: number) {
      const prefix = choicePrefix[currentActiveTab];
      const slug = readActiveStyle();
      const src = `styles/${slug}/выбор_${prefix}${ind + 1}.jpg`;
      mainImage.src = src;
    }

    onVisible(mainImage, () => {
      switchActive(0);
      select(0);
    });

    const backButton = document.querySelector("#back-button");
    backButton?.addEventListener("click", () => {
      goto("style-chooser");
    });
  </script>
</section>
